/* General App Styling */
.App {
  text-align: center;
  background-color: #f7f1e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

/* Cookie Styling */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.UpgradeButton {
  margin-top: 20px;
  background-color: antiquewhite;
  width: 200px;
  height: 50px;
  border-radius: 5%;
  transition: transform 0.1s ease;
}

.UpgradeButton:hover {
  transform: scale(1.1);
}

.Cookie {
  background-image: url(./assets/PerfectCookie.webp); /* Update with your image path */
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.Cookie:hover {
  transform: scale(1.1);
}

/* Scoreboard Styling */
.Scoreboard {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  text-shadow: 1px 1px 2px #fff;
}
